.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.item {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  text-align: center;
  margin: 10px;
}

.item * {
  border: 1px solid black;
}

#desc {
  grid-column: 1/3;
}

#content {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: .5fr 1fr 5fr;
  background-color: #afd4dc;
}

#content > * {
  border: 1px solid black;
  padding: 5px;
}

#skillCont {
  grid-row: 2/4;
}

.inputSubmit {
      grid-column: 1/3;
    width: 25%;
    margin: auto;
}

#header {
  grid-column: 1/3;
}